@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");

body {
  color: wheat;
  font-family: "Wanted Sans Variable";
}

.hidden {
  visibility: hidden;
}

#login-form,
#greeting,
#todo-form,
#quote,
#clock,
#weather {
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-form {
  padding-top: 5%;
}

#login-form input:first-child {
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 5px;
}

#login-form input:last-child {
  margin-left: 5px;
  height: 35px;
  border-radius: 5px;
  border: 0.2px solid black;
}

#greeting {
  font-size: 100px;
  margin-top: 2%;
  margin-bottom: 1%;
}

#todo-form label {
  font-weight: 600;
  font-size: 25px;
}

#todo-form input {
  margin-left: 10px;
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 5px;
}

#todo-form input:focus {
  outline: none;
}

#todo-list {
  display: block;
  position: absolute;
  right: 53%;
}

#todo-list li {
  background-color: rgba(0, 0, 0, 0.2);
}

#clock {
  font-size: 60px;
  padding-top: 25%;
}

#quote,
#weather {
  color: white;
  opacity: 0.7;
}
